.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #5b2f1d;

}
.header-items_items-nav{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
}
.header-items_items-nav-more{
    display: flex;
    align-items: center;
    gap: 30px;
}
.modalBtn{
    background-color: #ca9e8d;
    border-radius: 20px;
}

.header-items_items-nav_button-btn{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
}
.header-items_items-nav_button-img{
    width: 42px;
    filter:brightness(1000%);
}
.header-items_items-nav_tel{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.header-items_items-nav_tel a{

    text-decoration: none;
    color: white;
}
.header-items_items-nav_tel p{
    margin: 0;
    color: white;
    color: #a97865;
    font-size: 12px;
    font-style: italic;
}
.header-items{
    display: flex;
    flex-direction: column;
}
.header-items div nav ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

}
.header-items div nav ul li{
    list-style-type: none;
}
.header-items div nav ul li a{
text-decoration: none;
    color: white;
}
.header-items_items-nav nav ul li a:hover{
    text-decoration: underline !important;
}
.header-items-item_seed>a{
    text-decoration: none;
}
.header-items-item_seed{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.header-items-item_seed > a{
    font-weight: 700;
}
.header-items-item_seed_seed{
    width:48px;
    filter:brightness(1000%);   
}
.header-items-item_seed_tea{
    width:72px;
    filter:brightness(1000%);   
}
.header-items-item_seed_candy{
    width:40px;
    filter:brightness(1000%);   
}
.header-items-item_seed_stall{
   width:40px; 
   filter:brightness(1000%); 
}

.header-items-item_seed-search{
    width:32px; 
   filter:brightness(1000%); 
   
}
.header-items-item_seed:hover{
    background-color: #8f492d;
    padding: 10px;
}
.header-items-input_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items-item_input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #eee9e2;
    background-color: #eee9e2;
}
.header-items-item_button{
    padding: 0;
    border: 1px solid #eee9e2;
    background-color: #eee9e2;
    cursor: pointer;

}
.header-item-logo_logotype{
    width: 150px;
    background: transparent;
    display: block; 
    mix-blend-mode: normal;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
    
}

.basket-modal{
    background-color: #864f39;
    
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    height: 800px;
    position: fixed;
    top: 0%;
    left: 58%;
    padding-top: 30px;
    border-radius: 20px;

}

.close-btn{
    position: absolute;
    right: 5%;
    top: 2%;
    padding: 10px;
    width: 32px;
    border: none;
    border-radius: 50%;
    background-color: rgb(218, 14, 14);
    color: white;
    cursor: pointer;
    
}
.basket-modal-item img{
    width: 64px;
}
.basket-modal-item_items-btnplus_minus button{
    padding: 10px;
    width: 32px;
    border: none;
    border-radius: 50%;
    background-color: #ccbfba;
    cursor: pointer;
}
.basket-modal-item_items-btnplus_minus{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.basket-modal-item{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 253, 253);
    border-radius: 20px;
    height: 100%;
    min-height: 150px;
    max-height: 150px;
    
}
.basket-modal-item_items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.basket-modal-item{
    border: 1px solid #333;
    margin: 10px;
    margin-top: 30px;
}
.basket-modal-item_items-btnplus_minus-pay{
    min-width: 100px;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 92%;
    left: 69%;
    border: none;
    background-color: #6d3c29;
    cursor: pointer;
    color: white;

}
.basket-modal-item_img-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.basket-modal-item_img-title h1{
text-align: start;
}
.basket-modal-item_img-title img{
    width: 76px;
}
.basket-modal-item_items-btnplus_minus-sum{
    position: absolute;
    left: 5%;
    top: 90%;
    color: white;
    font-size: 20px;
}
.basket_item{
    position: absolute;
    top:0;
    left: 5%;
    color: white;
}
.basket-modal-item_items-btnplus_minus-basket{
    min-width: 100px;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 92%;
    left: 45%;
    border: none;
    background-color: #f7f6f6;
    cursor: pointer; 
}
.basket-modal-item_items-btnplus_minus-sum-text{
    position: absolute;
    left: 5%;
    top: 85%;
    color: white;
    font-size: 24px;
}
.basket-modal_scroll{
    overflow-y: scroll;
    margin-top: 30px;
    max-height: 618px;
    &::-webkit-scrollbar{
        width: 0px;   
    }
}