.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: #5b2f1d;

}
.header-items_items-nav{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
}
.header-items_items-nav-more{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-items_items-nav_button button{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.header-items_items-nav_button button img{
    width: 42px;
    filter:brightness(1000%);
}
.header-items_items-nav_tel{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.header-items_items-nav_tel a{

    text-decoration: none;
    color: white;
}
.header-items_items-nav_tel p{
    margin: 0;
    color: white;
    color: #a97865;
    font-size: 12px;
    font-style: italic;
}
.header-items{
    display: flex;
    flex-direction: column;
}
.header-items div nav ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

}
.header-items div nav ul li{
    list-style-type: none;
}
.header-items div nav ul li a{
text-decoration: none;
    color: white;
}
.header-items_items-nav nav ul li a:hover{
    text-decoration: underline !important;
}
.header-items-item_seed>a{
    text-decoration: none;
}
.header-items-item_seed{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.header-items-item_seed > a{
    font-weight: 700;
}
.header-items-item_seed_seed{
    width:48px;
    filter:brightness(1000%);   
}
.header-items-item_seed_tea{
    width:72px;
    filter:brightness(1000%);   
}
.header-items-item_seed_candy{
    width:40px;
    filter:brightness(1000%);   
}
.header-items-item_seed_stall{
   width:40px; 
   filter:brightness(1000%); 
}

.header-items-item_seed-search{
    width:32px; 
   filter:brightness(1000%); 
   
}
.header-items-item_seed:hover{
    background-color: #8f492d;
    padding: 10px;
}
.header-items-input_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items-item_input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #eee9e2;
    background-color: #eee9e2;
}
.header-items-item_button{
    padding: 0;
    border: 1px solid #eee9e2;
    background-color: #eee9e2;
    cursor: pointer;

}
.header-item-logo_logotype{
    width: 150px;
    background: transparent;
    display: block; /* или inline-block */
    mix-blend-mode: normal; /* Режим смешивания */
    /* Если нужно добавить тень для лучшего визуального отделения */
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
    
}