
.topHit-items{

}

.topHit-items_item{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    min-height: 1200px;
    margin: 0 auto;
    gap: 20px;
}
.topHit-items_item div{

    box-shadow: 5px 10px 30px #33333325;
}
.topHit-items_item div img{
    width: 200px;
    padding: 20px;
}