*{
  box-sizing: border-box;
}


.App {
  text-align: center;
  background-image: url('../src/images/background/background.webp');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.catalog{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  background-color: #282c34;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}
.catalog-item{
    background-color: white;
    padding: 16px;

}